{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pop HTML CSS Template</title>
<!--

Template 2097 Pop

https://www.tooplate.com/view/2097-pop

    load CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300"> <!-- Google web font "Open Sans" -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome-all.min.css' %}"> <!-- FontAwesome -->
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"> <!-- Slick slider -->
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"> <!-- Slick theme -->
<link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}"> <!-- Custom style -->
                              <!-- Templatemo style -->

    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>
    
</head>

<body>
    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-6 mb-6 tm-site-header-col">
                        <div class="tm-site-header">
                            <h1 class="mb-4">k.habibullayev</h1>
                            <img src="{% static 'img/underline.png' %}" class="img-fluid mb-4">
                            <p>Bizning Saytimizda: <br>
                                Innovatsion dizaynlar <br>
                                Telegram botlari orqali zakaz berish <br>
                                Oson va qulay 
                                interfeys</p>        
                        </div>                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="content">
                            <div class="grid">
                                <div class="grid__item" id="home-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-home fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Bizning kamandamiz</span>
                                            <div class="product__bg"></div>        
                                        </div>                                    
                                        <div class="product__description">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title">Bizning kamandamiz haqida qisqacha malumot</h2>        
                                                </div>
                                            </div>                                        
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <img src="{% static 'img/image888.png' %}" class="img-fluid mb-3" width="300px">
                                                    <p>Salom mening ismim nurulloh man python becend yonashi bo'yicha o'b shu saytni becend tarafini noldan o'zim yasab chiqanman </p>
                                                    <p>Men python becend yo'nalishi bo'yicha o'qib shu saytni o'zim mutaqil yasadim va shu yo'nalish bo'yicha o'sish uchun shu saytni ishlab chiqdim agar telegram bot yoki saytlar kerak bolsa bemalol aloqaga chiqishingiz mum kun <a rel="nofollow" href="+998 (95) 818 02 19 " target="_parent"> telefon nomer</a>kerek bo'lsa biz bilan boglaning</p>    
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <p>Salom bizning saytimizda anitiqa va ko'p joyda uchramidigan saylani topishingiz mum kun <br> eslatma </p>
                                                    <p>Siz bizning saytimzda ko'rgan narsalaringizni boshqa saytga yoki shunga <br> o'hash joylarga uzatish yoki tahlil qilish va yana zip fayllarni uzatishingiz qattiy taqiqlanadi <a rel="nofollow">
                                                    <img src="{% static 'img/welcome-2.jpg' %}" class="img-fluid">
                                                </div>                                        
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="grid__item" id="team-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-users fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Men haqimda qisqacha</span>
                                            <div class="product__bg"></div>            
                                        </div>                                     
                                        <div class="product__description">
                                            <div class="p-sm-4 p-2">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Men haqimda qisqacha malumotlar</h2>        
                                                    </div>
                                                </div>
                                                <div class="row tm-reverse-sm">
                                                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                                        <p class="mb-4">Salom men o'zim haqimda biroz malumot berama man shu yergacha muvoqiyatga erishgan yani o'zim mustaqil yasagan saytlarimni va telegram botlarimni ko'sangiz bo'ladi </p>
                                                        <p class="mb-4">Bu sayt va telegram botlarni boshida yashga qiynalardim tubdan va hamma qismini o'ganimdan keyin hatolar man uchun qiyincilik bo'may qoldi hatolar boladi man chunmidigan ularni ham chunib to'g'irlaganma</p>
                                                        <p class="mb-5"></p>
                                                        <!-- <a href="#" class="btn tm-btn-gray">Read More</a>         -->
                                                    </div>                                                
                                                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
                                                        <img src="{% static 'img/image874.png' %}" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-handshake fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Man ishlarimda bir qismi</span>
                                            <div class="product__bg"></div>             
                                        </div>                                                                 
                                        <div class="product__description">
                                            <div class="p-sm-4 p-2">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Our Work</h2>        
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <p>Aliquam interdum, nisl sed faucibus tempor, massa velit laoreet ipsum, et faucibus sapien magna at enim. Suspendisse a dictum tortor, vel rhoncus libero. Integer at lacus velit. Nullam dapibus venenatis placerat.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="p-sm-4 p-2 tm-img-container">
                                                            <div class="tm-img-slider" id="tmImgSlider">
                                                              <a target="_blank" href="https://github.com/nurulloh874/renticar_sayt.git" class="tm-slider-img-link"><img style="width: 1008px; height: 120px;" src="{% static 'img/welcome-banner.jpg' %}" alt="Ima ge 1" class="img-fluid tm-slider-img"></a>
                                                              <a target="_blank" href="https://github.com/nurulloh874/muzika_bot.git" class="tm-slider-img-link"><img src="{% static 'img/image2.png' %}" style="height: 120px;" alt="Image 2" class="img-fluid tm-slider-img"></a>
                                                              <a target="_blank" href="https://github.com/nurulloh874/olayn_shop-2.git" class="tm-slider-img-link"><img style="height: 120px;" src="{% static 'img/image3.png' %}" alt="Image 3" class="img-fluid tm-slider-img"></a>
                                                              <a target="_blank" href="https://github.com/nurulloh874/partfolo.git" class="tm-slider-img-link"><img style="height: 120px;" src="{% static 'img/image4.png' %}" alt="Image 4" class="img-fluid tm-slider-img"></a>
                                                              <a target="_blank" href="https://github.com/nurulloh874/WIKKI.PY-.git" class="tm-slider-img-link"><img style="height: 120px;" src="{% static 'img/image5.png' %}" alt="Image 5" class="img-fluid tm-slider-img"></a>
                                                              <a target="_blank" href="https://github.com/nurulloh874/yuo_tuobe.git" class="tm-slider-img-link"><img style="height: 120px;" src="{% static 'img/image.png' %}" alt="Image 6" class="img-fluid tm-slider-img"></a>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-comments fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Admin bilan bog'lash</span>
                                            <div class="product__bg"></div>             
                                        </div>                                                              
                                        <div class="product__description">
                                            <div class="pt-sm-4 pb-sm-4 pl-sm-5 pr-sm-5 pt-2 pb-2 pl-3 pr-3">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Admin bilan bog'lash ushun hohlasangiz tell nomer</h2>        
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col-12">
                                                        
                                                        <p><a href="https://t.me/N_khabibullayev_08
                                                            ">@N_khabibullayev_08</a><br>   Assalomu Alaykum bizning saytimzda siz 
                                                            hohlagan saytigiz yoki telegram botingizga zakas berishingiz mum kun </p>
                                                            <a href="tel:+998958180219">+998 (95) 818-02-19</a>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form action="index.html" method="post" class="contact-form">
                                                            <div class="row">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>                       
                    </div>
                </div>                
            </div>
            <footer>
                <p class="small tm-copyright-text">Copyright &copy; <span class="tm-current-year">2020</span> Your Company. 
                
                Design: <a rel="nofollow" target="_blank" href="https://t.me/web_sayt_savdo" class="tm-text-highlight">Web sayt savdo + Telegram bot</a></p>
            </footer>
        </div> <!-- .tm-main-content -->  
    </div>
    <!-- load JS -->
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>         <!-- https://jquery.com/ -->    
    <script src="{% static 'slick/slick.min.js' %}"></script>                  <!-- http://kenwheeler.github.io/slick/ -->  
    <script src="{% static 'js/anime.min.js' %}"></script>                     <!-- http://animejs.com/ -->
    <script src="{% static 'js/main.js' %}"></script>  
    <script>      

        function setupFooter() {
            var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

            var main = $('.tm-main-content');

            if($(window).height() < pageHeight) {
                main.addClass('tm-footer-relative');
            }
            else {
                main.removeClass('tm-footer-relative');   
            }
        }

        /* DOM is ready
        ------------------------------------------------*/
        $(function(){

            setupFooter();

            $(window).resize(function(){
                setupFooter();
            });

            $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright           
        });

    </script>             

</body>
</html>